.image-container {
	min-height: calc(100vh - 64px);
	background: url('../../../../assets/img/home/homeLogo.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
