.jumbo-img > .title{
  &h2 {
    color: white;
  }
}
.title {
  text-align: center;
  font-family: 'Poppins';
  & h2::after {
    content: '';
    width: 40px;
    height: 2px;
    background: #80d6a3;
    position: absolute;
    top: 12px;
    right: -60px;

    @media screen and (max-width: 600px) {
      width: 10px;
      right: -20px;
    }
  }
  & h2::before {
    content: '';
    width: 40px;
    height: 2px;
    background: #80d6a3;
    position: absolute;
    top: 12px;
    left: -60px;

    @media screen and (max-width: 600px) {
      width: 10px;
      left: -20px;
    }
  }
  & h2 {
    color: #333;
    font-size: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
  }
  & p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #817c7c;
  }
}

.subtitle{
  font-size: 20px;
  color: rgba(0,0,0,.5);
}
