<div class="row">
    <div class="col-md-12">
        <div class="title">
            <h2 class="title static" [ngStyle]="getStyle()">
                <ng-content select="app-title"></ng-content>
            </h2>
            <h3 #subtitle class="subtitle static">
                <ng-content select="app-subtitle"></ng-content>
            </h3>
            <ng-content></ng-content>
        </div>
    </div>
</div>