<mat-toolbar [color]="themeColor">
	<ng-container *ngIf="!isMobile; else profileTemplate">
		<button type="button" class="menu-toggle" mat-button tabindex="-1" (click)="toggleSidenav()">
			<mat-icon>menu</mat-icon>
			<span *ngIf="!isMobile">{{ page }}</span>
		</button>
	</ng-container>
	<span class="sidenav-spacer"></span>
	<mat-list class="p0">
		<div class="logo-container" mat-list-item>
			<img class="logo" src="assets/img/logo.png" alt="AppDirect logo" />
		</div>
	</mat-list>
	<span class="sidenav-spacer"></span>
	<button mat-icon-button (click)="toggleConfNav()" matTooltip="Open settings">
		<mat-icon>
			settings
		</mat-icon>
	</button>

	<button mat-icon-button (click)="logout()" matTooltip="Logout">
		<mat-icon>
			exit_to_app
		</mat-icon>
	</button>
</mat-toolbar>

<ng-template #profileTemplate>
	{{user.name}}
</ng-template>
