@import "~@angular/material/theming";

@include mat-core();

@import "./theme.scss";

@import "./custom-component-themes.scss";

@import "./loading.scss";

@include angular-material-theme($theming-material-components-theme);
@include custom-components-theme($theming-material-components-theme);

.dark-theme {
	@include angular-material-color($dark-theme);
}

@include angular-material-typography($typography);

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: "Poppins", sans-serif;
}

.w-100 {
	width: 100%;
}

mat-icon.action {
	cursor: pointer;
}

.pointer {
	cursor: pointer;
}

a {
	cursor: pointer;
	color: $accent-color;
}

section.main-table{
	padding: 0em 2em 2em;
}

section.main-list-view{
	padding: 0 0 5em 0;
}

.flex {
	&-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&-container {
		display: flex;
	}
	&-row {
		flex-direction: row;
	}
	&-column {
		flex-direction: column;
	}
}

.loading-wrapper {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.truncate {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.c-homepage-animation+.c-logo-parade {
	padding: 30px 0;
}

.c-logo-parade {
	text-align: center;
}
section {
	position: relative;
}
.c-logo-parade__logo-list {
	margin: 28px auto 16px;
	list-style: none;
	padding: 0;
}


.c-logo-parade__logo-list-item {
	display: inline-block;
	margin: 0 4px;
	width: 100%;
	max-width: 155px;
	max-height: 30px;
}

.c-hero {
	min-height: 350px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow-x: hidden;
}

.h-bg--gradient-primary {
	background: -webkit-gradient(linear,left bottom,right top,from(#009fdf),to(#26d07c));
	background: linear-gradient(to top right,#009fdf,#26d07c);
	background-color: #009fdf;
	color: #fff;
}

.c-hero .container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 992px){
	.c-hero__copy-container {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
}
@media screen and (min-width: 768px){
	.c-hero__copy-container {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}
.c-hero__copy-container {
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.c-hero__copy-subpage {
	margin-top: 0;
	margin-bottom: 4px;
}

.c-hero__copy-tagline {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-top: 8px;
	margin-bottom: 28px;
}

.c-hero__copy-tagline h1 {
	display: inline-block;
	margin: 0;
}
