@import "./appdirect-themes.scss";

@import url("https://fonts.googleapis.com/css?family=Varela:wght@300;400;500&display=swap");
$custom-typography: mat-typography-config(
  $font-family: "Poppins",
);
@include mat-core($custom-typography);

$theming-material-components-primary: mat-palette($ad-infosec-primary);
$theming-material-components-accent: mat-palette($ad-infosec-secondary);

$theming-material-components-theme: mat-light-theme(
  $theming-material-components-primary,
  $theming-material-components-accent
);

// 2. Alternate dark theme.
$dark-primary: mat-palette($ad-infosec-primary-dark);
$dark-secondary: mat-palette($ad-infosec-secondary-dark);
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-secondary
    ),
  )
);

// 3. Custom heading typography config
$heading-font-family: "Poppins";
$typography: mat-typography-config(
  $display-4: mat-typography-level(112px, $font-family: $heading-font-family),
  $display-3: mat-typography-level(56px, $font-family: $heading-font-family),
  $display-2: mat-typography-level(45px, $font-family: $heading-font-family),
  $display-1: mat-typography-level(34px, $font-family: $heading-font-family),
  $headline: mat-typography-level(24px, $font-family: $heading-font-family),
  $title: mat-typography-level(20px, $font-family: $heading-font-family),
);

$primary: $ad-infosec-primary;
$accent: $ad-infosec-secondary;

$primary-color: map-get($primary, 500);
$accent-color: map-get($accent, 500);
$normal-color: rgb(41, 115, 162);
$warning-color: rgb(228, 6, 19);
$grey-color: rgb(102, 102, 102);
