<ng-header
title="Webpages"
subtitle="Build and edit"
[mobile]="isMobile"
></ng-header>
<div class="content-container">
	<mat-card>
		<mat-card-content>
			<mat-list>
				<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
					<mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
						<mat-list-item>
							<div mat-line (click)="node.id ? edit(node) : ''" [class.editable]="node.id">
								{{ node.name }}
							</div>
						</mat-list-item>
					</mat-tree-node>
					<mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding >
						<mat-list-item>
							<button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
								<mat-icon class="mat-icon-rtl-mirror">
									{{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right"	}}
								</mat-icon>
							</button>
							<h4 class="nodeName">
								{{ node.name }}
							</h4>
						</mat-list-item>
					</mat-tree-node>
				</mat-tree>
			</mat-list>
		</mat-card-content>
	</mat-card>
</div>
