<h1 mat-dialog-title>Add new element</h1>
<div mat-dialog-content>
  <form [formGroup]="newElementForm">
    <div class="row" *ngIf="portada">
      <p>Imágen</p>
      <div class="image-container">
        <img class="image" [src]="portada">
      </div>
    </div>
    <div class="row">
      <h2>ARCHIVO</h2>
    </div>
    <mat-form-field class="customFormField">
      <mat-label>Titulo</mat-label>
      <input formControlName="title" name="title" matInput placeholder="Título del elemento nuevo" />
    </mat-form-field>
    <angular-editor formControlName="body" [config]="editorConfig" ></angular-editor>
  </form>

</div>
<div mat-dialog-actions  align="end">
  <button mat-button (click)="onClose()">Close</button>
  <button mat-raised-button color="primary" (click)="onClose()" cdkFocusInitial>Add</button>
</div>
