:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.customFormField {
    width: 100%;
}
mat-dialog-content {
    flex-grow: 1;
}
.image-container {
    display: flex;
    justify-content: center;
    max-width: 250px;
    max-height: 300px;
    margin: auto;
}
.image {
    object-fit: contain;
    width: 100%;
    height: auto;
}
