
<ng-header
title="Usuarios"
subtitle="Modifique informacion de usuarios"
mainActionLabel="Nuevo"
[mobile]="isMobile"
[modalTitle]="modalTitle"
[modalSubTitle]="modalSubTitle"
[modalApiUrl]="modalApiUrl"
[modalForm]="modalForm"
(actionFinished)="handleFinishCreating($event)"
>
</ng-header>
<section class="main-table">
  <ng-table
  [mobile]="isMobile"
  [actions]="tableActions"
  [dataSource]="dataSource"
  [mobileSource]="mobileSource"
  [columnsToDisplay]="columnsToDisplay"
  [pageSize]="tableSettings.pageSize"
  [pageIndex]="tableSettings.pageIndex"
  [resultsLength]="tableSettings.resultsLength"
  [pageSizeOptions]="tableSettings.pageSizeOptions"
  (paginationEvent)="handlePageEvent($event)"
  ></ng-table>
</section>

