
main{
    height: auto;
    display: flex;
    margin: 6em 20px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: stretch;
    h1{
      font-size: 3em;
      font-weight: 100;
      margin: 0;
			padding: .4em;
    }
    h2{
      font-size: 1.5em;
      font-weight: 100;
      margin-bottom: 0;
    }
    h3{
      font-size: 1.5em;
      font-weight: 100;
      margin-top: 0;
    }
    a{
      font-size: 1.5em;
      font-weight: 300;
      text-decoration: none;
    }
  }

  footer{
    position: absolute;
    bottom: 0;
    margin: 10px;
    font-weight: 300;
  }
