
.actionIcons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.resolutionCard {
	max-width: 400px;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2em;
	font-size: 55px;
	margin: 0;
	padding: 0;
	width: 100%;
}

.cardContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.labelTitle {
	margin: 0;
	padding: 0;
	color: #cecece;
}

.resolutionInfo {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}

.mat-card-avatar {
	position: absolute;
}

.mat-card-header {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.mat-card-actions {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.noResolutionsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.noResolutionCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1em;
	& > .mat-icon {
		height: 32px;
		width: 32px;
		font-size: 32px;
	}
}

.order-buttons {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin: 20px 2em;
	&.mobile{
		width: 100%;
	}
}
.separated-button {
	padding-right: 1em;
	&.order {
		margin-right: auto;
	}
}

.order-button {
	min-width: 250px;
}

.inverted-order {
	padding-left: 2em;
	&.mobile{
		padding-left: 0;
	}
}

.mat-list-item {
	&.active {
		padding: 1em 0;
		height: max-content !important;
	}
}

p.description {
	overflow: hidden;
	height: auto;
	&.active {
		padding: 1em 0;
		white-space: initial;
	}
	&:hover {
		cursor: pointer;
	}
}

.seeMore-container{
	display: flex;
	justify-content: center;
}

.mat-tree-node{
	&:first-child{
		display: none;
	}
	&.mobile{
		padding-left: 0 !important;
	}
}

button.mat-focus-indicator.mat-icon-button.mat-button-base.mat-button-disabled{
	display: none;
}

