<ng-header
title="Resoluciones"
subtitle="Resoluciones provinciales y nacionales"
mainActionLabel="Nueva"
[mainActionPermission]="canEdit"
[mobile]="isMobile"
[modalTitle]="modalTitle"
[modalSubTitle]="modalSubTitle"
[modalApiUrl]="modalApiUrl"
[modalForm]="modalForm"
>
</ng-header>
<ng-autocomplete
#autocomplete
entity="autocomplete/resolutions"
label='Puede buscar rápidamente las resoluciones aquí'
placeholder='Buscador resoluciones'
loadingLabel='Cargando . . .'
searchingLabel='Texto a buscar: '
noResultsLabel='No se encontaron resultados'
displayKey='fullName'
valueKey='id'
[mobile]="isMobile"
(onSelect)="handleSeachSelect($event)">
</ng-autocomplete>

<ng-container *ngIf="!loading; else loadingTemplate">
	<ng-container *ngIf="!selectedResolution; else selectedResolutionTemplate">
		<mat-tab-group mat-stretch-tabs>
			<mat-tab>
				<ng-template mat-tab-label>
					<p>Provinciales</p>
				</ng-template>
				<div class="row order-buttons">
					<div class="separated-button order">
						<mat-form-field class="order-button" [ngClass]="{ mobile: isMobile }">
							<mat-label>Orden</mat-label>
							<mat-select [(ngModel)]="selectedOrder" name="order" (selectionChange)="handleChangeOrder($event)">
								<mat-option *ngFor="let order of orderList" [value]="order.value" > {{ order.display }} </mat-option>
							</mat-select>
						</mat-form-field>
						<mat-checkbox class="inverted-order" [ngClass]="{ mobile: isMobile }" color="primary" [(ngModel)]="invertedOrder" (ngModelChange)="handleChangeOrder($event)" >
							Orden invertido
						</mat-checkbox>
					</div>
				</div>
				<ng-container *ngIf="resolutions.length; else noResolutionsTemplate">
					<mat-list>
						<mat-list-item *ngFor=" let resolution of resolutions; let i = index; trackBy: trackByFn " class="mat-list-item" [ngClass]="{ active: resolution.expandedUI }">
							<p [ngClass]="{ bold: resolution.description.includes(currentYear) }" matLine >
								{{ resolution.subject }}
							</p>
							<p matLine class="description" (click)="toggleExpandedDescription(i)" [ngClass]="{ active: resolution.expandedUI }" >
								{{ resolution.description }}
							</p>

							<button matTooltip="Abrir en nueva pestaña" (click)="download(resolution)" *ngIf="resolution.upload_id" mat-icon-button>
								<mat-icon>cloud_download</mat-icon>
							</button>
							<button *ngIf="canEdit" mat-icon-button [matMenuTriggerFor]="menu" >
								<mat-icon>more_vert</mat-icon>
							</button>
							<mat-menu #menu="matMenu">
								<button (click)="handleEdit(resolution)" mat-menu-item>
									<mat-icon>edit</mat-icon>
									<span>Editar</span>
								</button>
								<button class="red-text" (click)="handleDelete(resolution)" mat-menu-item >
									<mat-icon class="red-text">delete</mat-icon>
									<span>Eliminar</span>
								</button>
							</mat-menu>
						</mat-list-item>
					</mat-list>
					<br />
					<ng-container *ngIf="displaySeeMore">
						<div class="seeMore-container">
							<button (click)="loadMore(true)" [disabled]="loadingSeeMore" mat-button color="primary">
								<mat-icon>{{loadingSeeMore ? 'autorenew' : 'keyboard_arrow_down'}}</mat-icon>
								{{ loadingSeeMore ? 'Cargando' : 'Ver more' }}
							</button>
						</div>
					</ng-container>
				</ng-container>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<p>Nacionales</p>
				</ng-template>
				<mat-action-list>
					<a href="http://www.facpce.org.ar:8080/NORMASWEB/index_argentina.php?c=1&sc=1" target="_blank" >
						<button mat-list-item>Resoluciones Técnicas</button>
					</a>
					<a href="http://www.facpce.org.ar:8080/NORMASWEB/index_argentina.php?c=1&sc=64" target="_blank" >
						<button mat-list-item>Resoluciones MD y JG</button>
					</a>
					<a href="http://www.facpce.org.ar:8080/NORMASWEB/index_argentina.php?c=1&sc=2" target="_blank" >
						<button mat-list-item>Recomendaciones Técnicas del SP</button>
					</a>
					<a href="http://www.facpce.org.ar:8080/NORMASWEB/index_argentina.php?c=1&sc=3" target="_blank" >
						<button mat-list-item>Interpretaciones</button>
					</a>
					<a href="http://www.facpce.org.ar:8080/NORMASWEB/index_argentina.php?c=1&sc=4" target="_blank" >
						<button mat-list-item>Circulares de Adopción NIIF</button>
					</a>
					<a href="http://www.facpce.org.ar:8080/NORMASWEB/index_argentina.php?c=2" target="_blank" >
						<button mat-list-item>Otros Documentos</button>
					</a>
				</mat-action-list>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<p>Filtrado por año</p>
				</ng-template>
				<mat-list>
					<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
						<mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [ngClass]="{mobile: isMobile}">
							<button mat-icon-button disabled></button>
							<mat-list-item>
								<mat-icon mat-list-icon>note</mat-icon>
								<div mat-line>{{	node.description	? node.description	: "Descripcion sin definir"}}</div>
								<div mat-line> {{ node.subject ? node.subject : "Tema sin definir" }} {{ node.year ? node.year : "" }} </div>
								<mat-icon *ngIf="node.upload_id" class="pointer" (click)="download(node)" >cloud_download</mat-icon>
								<mat-icon (click)="handleEdit(node)" class="pointer" *ngIf="canEdit" >edit</mat-icon>
								<mat-icon (click)="handleDelete(node)" class="red-text pointer" *ngIf="canEdit" >delete</mat-icon>
							</mat-list-item>
						</mat-tree-node>
						<mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
							<button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.year" >
								<mat-icon class="mat-icon-rtl-mirror">
									{{treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
								</mat-icon>
							</button>
							{{ node.year ? node.year : "Sin definir año" }}
						</mat-tree-node>
					</mat-tree>
				</mat-list>
			</mat-tab>
		</mat-tab-group>
	</ng-container>
</ng-container>

<ng-template #noResolutionsTemplate>
	<div *ngIf="!loading" class="noResolutionsContainer">
		<mat-card class="noResolutionCard col m4 s12">
			<mat-icon>search</mat-icon>
			<mat-card-header>
				<mat-card-title>
					Looks like there is no resoluciones cargadas.
				</mat-card-title>
				<mat-card-subtitle>
					Puede encontrarlas desde
					<a href="http://www.cpcelapampa.org.ar/index.php/page/21/resoluciones%20" >aquí</a>
				</mat-card-subtitle>
			</mat-card-header>
		</mat-card>
	</div>
</ng-template>

<ng-template #loadingTemplate>
	<ng-container *ngIf="loading">
		<div class="loading-wrapper">
			<ng-loading></ng-loading>
		</div>
	</ng-container>
</ng-template>

<ng-template #selectedResolutionTemplate>
	<div class="cardContainer">
		<mat-card class="resolutionCard">
			<mat-card-header>
				<div mat-card-avatar>
					<button matTooltip="Limpiar resolucion seleccionada" (click)="onDeselect()" mat-icon-button>
						<mat-icon>close</mat-icon>
					</button>
				</div>
			</mat-card-header>
			<mat-icon class="logo">description</mat-icon>
			<mat-card-content>
				<span>
					<p class="labelTitle">Descripcion</p>
					<p class="resolutionInfo">{{ selectedResolution.description }}</p>
				</span>
				<span>
					<p class="labelTitle">Tema</p>
					<p class="{{selectedResolution.subject ? 'resolutionInfo':'labelTitle'}}">{{selectedResolution.subject ? selectedResolution.subject : "Sin definir" }}</p>
				</span>
				<span>
					<p class="labelTitle">Año</p>
					<p class="{{selectedResolution.year ? 'resolutionInfo' : 'labelTitle'}}">
						{{ selectedResolution.year ? selectedResolution.year : "Sin definir" }}
					</p>
				</span>
			</mat-card-content>
			<mat-card-actions>
				<button mat-icon-button *ngIf="selectedResolution.upload_id" matTooltip="Abrir en nueva pestaña" (click)="download(selectedResolution)">
					<mat-icon>cloud_download</mat-icon>
				</button>
				<button *ngIf="canEdit" mat-icon-button (click)="handleEdit(selectedResolution)" >
					<mat-icon>edit</mat-icon>
				</button>
				<button *ngIf="canEdit" mat-icon-button class="red-text" (click)="handleDelete(selectedResolution)"	>
					<mat-icon class="red-text">delete</mat-icon>
				</button>
			</mat-card-actions>
		</mat-card>
	</div>
</ng-template>
