@import '~@angular/material/theming';

.technical-secretary-wrapper{
	display: flex;
	justify-content: center;
	&.mobile {
		flex-direction: column;
		padding: 0 0 5em 0;
	}
}
.technical-secretary-card{
	width: 20%;

	&.mobile {
		width: auto;
		margin: 1em;
	}
}

mat-card.mat-card {
	@include mat-elevation-transition;
	@include mat-elevation(1);
	padding-top: 1em;
	margin: 0 1em;
	padding-bottom: 4em;
	cursor: pointer;
	* {
			user-select: none;
	}

	&:hover {
			@include mat-elevation(3);
	}

	&:active {
			@include mat-elevation(6);
	}

	mat-icon {
			color: #ddd;
			position: absolute;
			font-size: 3em;
			right: 1em;
			bottom: 1em;
	}
}

.flex {
	display: flex;
}
