<ng-header
title="Secretaria tecnica"
subtitle="Acceda a Modelos, Resoluciones y mas"
[mobile]="isMobile"
></ng-header>

<div [ngClass]="{ mobile: isMobile }" class="technical-secretary-wrapper">
	<mat-card matRipple [ngClass]="{ mobile: isMobile }" class="technical-secretary-card" [routerLink]="['resoluciones']">
		<mat-icon>description</mat-icon>
		<mat-card-header>
			<mat-card-title> Resoluciones </mat-card-title>
			<mat-card-subtitle> Visualizar las resoluciones provinciales y nacionales </mat-card-subtitle>
		</mat-card-header>
	</mat-card>
	<mat-card matRipple [ngClass]="{ mobile: isMobile }" class="technical-secretary-card" [routerLink]="['modelos']">
		<mat-icon>article</mat-icon>
		<mat-card-header>
			<mat-card-title> Modelos </mat-card-title>
			<mat-card-subtitle> Acceda a Modelos Técnicos  </mat-card-subtitle>
		</mat-card-header>
	</mat-card>
	<mat-card matRipple [ngClass]="{ mobile: isMobile }" class="technical-secretary-card" [routerLink]="['herramientas-para-profesionales']">
		<mat-icon>note_alt</mat-icon>
		<mat-card-header>
			<mat-card-title> Herramientas profesionales </mat-card-title>
			<mat-card-subtitle> Todas las herramientas profesionales </mat-card-subtitle>
		</mat-card-header>
	</mat-card>
	<mat-card matRipple [ngClass]="{ mobile: isMobile }" class="technical-secretary-card" [routerLink]="['asesoramiento-contable']">
		<mat-icon>insert_drive_file</mat-icon>
		<mat-card-header>
			<mat-card-title> Asesoramiento contable </mat-card-title>
		</mat-card-header>
	</mat-card>
</div>
