.menu-button {
	text-transform: capitalize;
}
.sidenav-spacer {
	flex: 1 1 auto;
}

.logo{
	max-width: 2em;
}

.main-toolbar{
	background-color: #010101;
	color: white;
}

svg{
	max-width: 100px;
	height: 24px;
	fill: #fff;
	overflow: visible;
}

.menuItem{
	&:hover{
		color: #009fdf;
	}
}
