
<mat-toolbar fxLayout="row" class='main-toolbar'>
	<span class="sidenav-spacer" fxHide.xs ></span>
	<span fxFlex>
		<div class="logo-container" class="menuItem" (click)="navigate('/')" mat-list-item>
			<svg>
				<title>AppDirect logo</title>
				<path d="M35.95 17.08L34.73 14h-4.22l-1.22 3.06h-1.78l4.33-10.88h1.56l4.33 10.91zm-3.33-8.39l-1.48 3.75h3zM44.32 15.8a3 3 0 0 1-2.69 1.45 3.25 3.25 0 0 1-1.5-.34v3.61h-1.59v-11h1.59v.23a3.25 3.25 0 0 1 1.5-.34 3 3 0 0 1 2.69 1.45 4.72 4.72 0 0 1 .52 2.5 4.8 4.8 0 0 1-.52 2.44zm-1.39-4.19a1.4 1.4 0 0 0-1.3-.64 1.37 1.37 0 0 0-1.3.64 1.76 1.76 0 0 0-.2.7v2a1.77 1.77 0 0 0 .2.7 1.61 1.61 0 0 0 2.59 0 3.33 3.33 0 0 0 .31-1.7 3.47 3.47 0 0 0-.3-1.7zM51.78 15.8a3 3 0 0 1-2.69 1.45 3.25 3.25 0 0 1-1.5-.34v3.61H46v-11h1.59v.23a3.25 3.25 0 0 1 1.5-.34 3 3 0 0 1 2.69 1.45 4.72 4.72 0 0 1 .52 2.5 4.8 4.8 0 0 1-.52 2.44zm-1.39-4.19a1.4 1.4 0 0 0-1.3-.64 1.37 1.37 0 0 0-1.3.64 1.77 1.77 0 0 0-.2.7v2a1.78 1.78 0 0 0 .2.7 1.61 1.61 0 0 0 2.59 0 3.33 3.33 0 0 0 .31-1.7 3.47 3.47 0 0 0-.3-1.7zM61.61 14c-.39 2.61-2.2 3.08-4.53 3.08h-3.46V6.18h3.45c2.33 0 4.14.45 4.53 3.08a17.14 17.14 0 0 1 .13 2.38 17.26 17.26 0 0 1-.12 2.36zm-4.54-6.21h-1.8v7.67h1.8c3.11 0 3-1.06 3-3.83s.11-3.84-3-3.84zM63.28 17.08V9.36h1.61v7.72zM63.28 8V6.1h1.61V8zM70.62 11.21a1.88 1.88 0 0 0-1-.31c-.64 0-1.45.38-1.45 1.11v5.08h-1.6V9.44h1.56v.23a3.48 3.48 0 0 1 1.45-.31 4 4 0 0 1 1.73.41zM73.11 13.88a2.38 2.38 0 0 0 .31 1.12 1.88 1.88 0 0 0 1.58.7 2 2 0 0 0 1.62-.7l1.28 1a3.7 3.7 0 0 1-2.9 1.22 3.4 3.4 0 0 1-2.94-1.39 4.59 4.59 0 0 1-.59-2.55 4.59 4.59 0 0 1 .59-2.55 3.2 3.2 0 0 1 2.8-1.36 3 3 0 0 1 2.61 1.37 5.73 5.73 0 0 1 .47 3.13zm3-2.3a1.42 1.42 0 0 0-1.28-.66 1.56 1.56 0 0 0-1.7 1.41h3.17a2 2 0 0 0-.16-.75zM82.35 17.21c-2.22 0-3.53-1.67-3.53-4s1.31-4 3.53-4a3.58 3.58 0 0 1 2.94 1.5l-1.17 1c-.84-.91-1.19-1-1.77-1a1.73 1.73 0 0 0-1.48.7 2.87 2.87 0 0 0-.41 1.78 2.85 2.85 0 0 0 .41 1.81 1.7 1.7 0 0 0 1.48.7c.58 0 .92-.13 1.77-1l1.17 1a3.6 3.6 0 0 1-2.94 1.51zM86.21 9.36v-1.8l1.53-.26v2.06h1.36v1.44h-1.36v4.25a1.25 1.25 0 0 0 0 .34.18.18 0 0 0 .19.11h1v1.58h-1a1.65 1.65 0 0 1-1.45-.78 2.29 2.29 0 0 1-.28-1.25V9.36z" transform="translate(-.9 -.17)"></path>
				<path d="M1.29 18.85l6.51-2.84 3.15-9.33-3.19-5.06-6.47 17.23zM7.62 0l7.99 12.63 4.69-2.04L12.81 0H7.62zM23.7 9.94L0 20.22l5.05 3.45 15.89-6.75 2.76-6.98z"></path>
			</svg>
		</div>
	</span>
	<button class="menuItem" mat-button fxHide.xs (click)="navigate('/')" >
		Home
	</button>
	<button class="menuItem" mat-button fxHide.xs [matMenuTriggerFor]="overviewMenu">
		Overview
	</button>
	<button class="menuItem" mat-button fxHide.xs [matMenuTriggerFor]="complianceMenu" >
		Compliance
	</button>
	<button class="menuItem" mat-button fxHide.xs (click)="navigate('/pages/security-advisors')">
		Security Advisors
	</button>
	<button class="menuItem" mat-button fxHide.xs (click)="navigate('/login')">
		VIP Here
	</button>
	<span class="sidenav-spacer" fxHide.xs></span>
	<button class="menuItem" mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #dropMenu="matMenu" (click)="navigate('/')">
		<button class="menuItem" mat-menu-item>
			Home
		</button>
		<button class="menuItem" mat-menu-item [matMenuTriggerFor]="overviewMenu" >
			Overview
		</button>
		<button class="menuItem" mat-menu-item [matMenuTriggerFor]="complianceMenu" >
			Compliance
		</button>
		<button class="menuItem" mat-button fxHide.xs (click)="navigate('/pages/security-advisors')">
			Security Advisors
		</button>
		<button class="menuItem" mat-menu-item (click)="navigate('/login')">
			VIP Here
		</button>
	</mat-menu>
</mat-toolbar>
<mat-menu #overviewMenu="matMenu">
	<button class="menuItem" mat-menu-item (click)="navigate('pages/mp-security-baseline')">
		Marketplace security baseline
	</button>
	<button class="menuItem" mat-menu-item (click)="navigate('pages/mfa-for-mp')">
		MFA for Marketplace
	</button>
</mat-menu>
<mat-menu #complianceMenu="matMenu">
	<button class="menuItem" mat-menu-item (click)="navigate('pages/gdpr')">
		GDPR (General Data Protection Regulation)
	</button>
	<button class="menuItem" mat-menu-item (click)="navigate('pages/certifications')">
		Certifications
	</button>
</mat-menu>

