<ng-container *ngIf="!isMobile; else mobileTemplate">
	<section class="login-wrapper" [ngStyle]="getBackground()">
		<section class="login-wrapper-inside">
			<div class="title">
				<h2 class="title-header">{{title}}</h2>
			</div>
			<mat-card class="login-container">
				<mat-card-content>
					<form [formGroup]="loginForm" (ngSubmit)="login()">
						<mat-form-field class="w-100">
							<mat-label>Username / Email</mat-label>
							<input autofocus name="user" matInput formControlName="username" />
							<mat-icon matPrefix>person</mat-icon>
						</mat-form-field>
						<mat-form-field class="w-100">
							<mat-label>Password</mat-label>
							<mat-icon matPrefix>lock</mat-icon>
							<input matInput formControlName="password" name="password" [type]="!showPass ? 'password' : 'text'" />
							<mat-icon class="action" matSuffix (click)="showPass = !showPass" >{{ !showPass ? "visibility_off" : "visibility" }}</mat-icon>
						</mat-form-field>
						<div class="alert">
							<ng-container *ngIf="!alert.visible">
								<a (click)="resetPassword()">Forgot password ?</a>
							</ng-container>
							<ng-container *ngIf="alert.visible">
								<div class="alert">
									<mat-icon class="small info" matPrefix>info</mat-icon> This feature is not quite ready yet. Sorry for the inconvenience.
									<mat-icon class="action small" (click)="hideAlert()" matSufix>close</mat-icon>
								</div>
							</ng-container>
						</div>
						<ng-container *ngIf="loading && slowNetwork">
							<div class="alert column">
								<span class="slowNetwork">
									<mat-icon class="small info" matPrefix>warning</mat-icon> This is tooking more than usual.
								</span>
								<span> Try again in a few minutes </span>
							</div>
						</ng-container>
						<ng-container *ngIf="noConection">
							<div class="alert column">
								<span class="slowNetwork">
									<mat-icon class="small info" matPrefix>signal_cellular_nodata</mat-icon>
									You are offline.
								</span>
								<span> Check your network and try again in a few minutes. </span>
							</div>
						</ng-container>
						<section class="action">
							<button mat-raised-button color="primary" type="submit" (keyup.enter)="login()" [disabled]="loginDisabled()" class="login">
								LOG IN
							</button>
						</section>
					</form>
				</mat-card-content>
			</mat-card>
		</section>
	</section>
</ng-container>
<ng-template #mobileTemplate>
	<section class="login-wrapper mobile" [ngStyle]="getBackground()">
		<mat-card class="login-container mobile">
			<section class="logo-wrapper">
				<img class="logo" src="assets/img/logo.png" alt="AppDirect logo"/>
				<h2 class="title">{{title}}</h2>
			</section>
			<form [formGroup]="loginForm" class="loginForm">
				<mat-form-field class="w-100">
					<mat-label>Username / Email</mat-label>
					<input autofocus name="user" matInput formControlName="username" />
					<mat-icon matPrefix>person</mat-icon>
				</mat-form-field>
				<mat-form-field class="w-100">
					<mat-label>Password</mat-label>
					<mat-icon matPrefix>lock</mat-icon>
					<input matInput formControlName="password" name="password" [type]="!showPass ? 'password' : 'text'" (keyup.enter)="login()"/>
					<mat-icon class="action" matSuffix (click)="showPass = !showPass">{{
						!showPass ? "visibility_off" : "visibility"
					}}</mat-icon>
				</mat-form-field>
				<div class="alert">
					<ng-container *ngIf="!alert.visible">
						<a (click)="resetPassword()">Forgot password ?</a>
					</ng-container>
					<ng-container *ngIf="alert.visible">
						<div class="alert">
							<mat-icon class="small info" matPrefix>info</mat-icon> This feature is not quite ready yet. Sorry for the inconvenience.
							<mat-icon class="action small" (click)="hideAlert()" matSufix>close</mat-icon>
						</div>
					</ng-container>
				</div>
				<ng-container *ngIf="loading && slowNetwork">
					<div class="alert column">
						<span class="slowNetwork">
							<mat-icon class="small info" matPrefix>warning</mat-icon> This is tooking more than usual.
						</span>
						<span> Try again in a few minutes </span>
					</div>
				</ng-container>
				<ng-container *ngIf="noConection">
					<div class="alert column">
						<span class="slowNetwork">
							<mat-icon class="small info" matPrefix>signal_cellular_nodata</mat-icon>	You are offline.
						</span>
						<span> Check your network and try again in a few minutes. </span>
					</div>
				</ng-container>
			</form>
			<section class="action">
				<button mat-raised-button color="primary" type="submit" (keyup.enter)="login()" (click)="login()" [disabled]="loginDisabled()" class="login" >
					LOG IN
				</button>
			</section>
		</mat-card>
	</section>
</ng-template>
