<ng-header
title="News"
subtitle="Create and edit news"
mainActionLabel="New"
[mobile]="isMobile"
[modalTitle]="modalTitle"
[modalSubTitle]="modalSubTitle"
[modalApiUrl]="modalApiUrl"
[modalForm]="modalForm"
[angularEditorConfig]="angularEditorConfig"
(actionFinished)="handleFinishCreating($event)"
>
</ng-header>
<ng-container *ngIf="!isLoading; else loadingTemplate">
	<ng-container *ngIf="!isMobile; else mobileTemplate">
		<ng-container *ngIf="dataSource.length; else noNewsTemplate">
			<section class="main-table">
				<ng-table
				[actions]="tableActions"
				[dataSource]="dataSource"
				[mobileSource]="mobileSource"
				[columnsToDisplay]="columnsToDisplay"
				[pageSize]="tableSettings.pageSize"
				[pageIndex]="tableSettings.pageIndex"
				[resultsLength]="tableSettings.resultsLength"
				[pageSizeOptions]="tableSettings.pageSizeOptions"
				(paginationEvent)="handlePageEvent($event)"
				></ng-table>
			</section>
		</ng-container>
	</ng-container>
</ng-container>

<ng-template #mobileTemplate>
	<ng-container *ngIf="dataSource.length; else noNewsTemplate">
		<section class="main-list-view">
			<mat-list #news>
				<mat-list-item *ngFor="let article of dataSource; trackBy: trackNews">
					<div class="news-list">
						<button mat-icon-button [matMenuTriggerFor]="articleActions" aria-label="Action menu for each article">
							<mat-icon>more_vert</mat-icon>
							<mat-menu #articleActions="matMenu">
								<button mat-menu-item (click)="handleOpen(article)">
									<mat-icon>visibility</mat-icon>
									<span>See</span>
								</button>
								<button mat-menu-item (click)="handleEdit(article)">
									<mat-icon>edit</mat-icon>
									<span>Edit</span>
								</button>
								<button mat-menu-item (click)="handleDelete(article)">
									<mat-icon>delete</mat-icon>
									<span>Delete</span>
								</button>
							</mat-menu>
						</button>
						<div class="news-text-wrapper">
							<h3 class="news-title">{{article.title}}</h3>
						</div>
						<div class="news-image">
							<div class="image-wrapper">
								<img [src]="article.url" [alt]="article.slug">
							</div>
						</div>
					</div>
					<mat-divider></mat-divider>
				</mat-list-item>
			</mat-list>
		</section>
	</ng-container>
</ng-template>

<ng-template #loadingTemplate>
	<div class="loading-wrapper">
		<ng-loading></ng-loading>
	</div>
</ng-template>
<ng-template #noNewsTemplate>
	<section class="no-news-wrapper">
		<ng-segment [icon]="noNewsIcon" [actionMessage]="noNewsMessage"></ng-segment>
	</section>
</ng-template>
