
.news-list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.news-text-wrapper{
	max-width: 60%;
	&>.news-title{
		margin: auto;
	}
}
.news-image{
	float: right;
	width: 40%;
	padding: .1em;
	&>.image-wrapper{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		text-align: center;
		&>img {
			object-fit: scale-down;
			height: 100%;
			width: 100%;
		}
	}
}
.mat-list-item, .mat-list-option, .mat-list-item-content{
	height: auto;
}
