<div class="container">
  <h2>Settings</h2>
  <mat-divider></mat-divider>
  <mat-card class="setting-card pointer" (click)="toggleMode()">
    <div class="icon-container" [ngClass]="{ 'light-mode': !isDarkTheme }">
      <mat-icon>nights_stay</mat-icon>
    </div>
    <div class="details">
      <h2>Dark mode</h2>
      <h4>({{ isDarkTheme ? "On" : "Off" }})</h4>
    </div>
  </mat-card>
  <mat-card class="setting-card theme-selector">
    <h3 class="m-0">Theme colors</h3>
    <mat-radio-group
      [color]="getColor()"
      (change)="themeChange($event)"
      aria-labelledby="theme-colors"
      class="theme-container"
      [(ngModel)]="themeColor"
    >
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let theme of themeList">
          <mat-radio-button [value]="theme">
            {{ getThemeLabel(theme) }}
          </mat-radio-button>
        </mat-list-item>
      </mat-list>
    </mat-radio-group>
  </mat-card>
</div>
