<ng-header
title="Page edit"
[subtitle]="subtitle"
[mobile]="isMobile"
></ng-header>
<div class="content-container">
	<mat-tab-group #webpageTab>
		<mat-tab label="Preview">
			<ng-container *ngIf="type; else emptyPreviewTemplate">
				<section class="center-wrapper">
					<div [ngStyle]="getBanner()" class="jumbotron jumbotron-fluid">
						<div class="container">
							<ad-infosec-header color="#fff">
								<app-title>{{ page.title }}</app-title>
							</ad-infosec-header>
						</div>
					</div>
					<ng-container *ngIf="type === 'basic'; else gridPreview">
						<ng-container *ngIf="page.body; else emptyPreviewTemplate">
							<div class="page-content">
								<div [innerHTML]="page.body"></div>
							</div>
						</ng-container>
					</ng-container>
				</section>
			</ng-container>
		</mat-tab>
		<mat-tab label="Edit">
			<mat-card>
				<mat-card-content>
					<section class="right-aligned">
						<mat-button-toggle-group name="mode" aria-label="Edit mode">
							<mat-button-toggle
							[checked]="type === 'basic'"
							(change)="onChangeMode('basic')"
							value="basic"
							>Basic mode</mat-button-toggle
							>
							<mat-button-toggle
							[checked]="type === 'grid'"
							(change)="onChangeMode('grid')"
							value="grid"
							>Grid mode</mat-button-toggle
							>
						</mat-button-toggle-group>
					</section>
					<mat-grid-list [cols]="1">
						<div class="row">
							<ng-image-uploader
							(imageUploaded)="handleBannerUploaded($event)"
							[imageBase64]="bannerImage"
							[entity]="apiUrl"
							></ng-image-uploader>
						</div>
						<ng-container *ngIf="type === 'basic'; else editGridMode">
							<div class="center-wrapper">
								<form [formGroup]="pageForm">
									<angular-editor
									formControlName="body"
									[config]="editorConfig"
									></angular-editor>
								</form>
							</div>
						</ng-container>
					</mat-grid-list>
				</mat-card-content>
				<mat-card-actions align="end">
					<ng-container
					*ngIf="type === 'grid' && page.cards && gridList !== page.cards"
					>
					<button mat-flat-button (click)="reset()">
						Cancelar
					</button>
				</ng-container>
				<button
				[disabled]="loading"
				mat-flat-button
				color="primary"
				(click)="save()"
				>
				{{ loading ? "Saving . . ." : "Save" }}
			</button>
		</mat-card-actions>
	</mat-card>
</mat-tab>
</mat-tab-group>
</div>

<ng-template #editGridMode>
	<ng-container *ngIf="gridList.length; else emptyGridEditTemplate">
		<section>
			<button
			mat-raised-button
			color="primary"
			aria-label="Add new item"
			(click)="addNewElement()"
			>
			Add new
		</button>
		<mat-grid-list
		[cols]="breakpoint"
		rowHeight="1:1"
		(window:resize)="onResize($event)"
		class="our-webcoderskull"
		>
		<mat-grid-tile *ngFor="let gridElement of gridList">
			<mat-card class="grid-card">
				<mat-card-header>
					<mat-card-title>{{ gridElement.title }}</mat-card-title>
				</mat-card-header>
				<img
				mat-card-image
				[src]="
				gridElement.url
				? gridElement.url
				: '/assets/img/skeletonAvatar.png'
				"
				class="img-responsive"
				alt="{{ gridElement.title }}"
				/>
				<mat-card-content>
					<p [innerHTML]="gridElement.body"></p>
				</mat-card-content>
				<mat-card-footer>
					<button
					mat-button
					(click)="addNewElement(gridElement)"
					color="primary"
					>
					Edit
				</button>
				<button mat-button (click)="remove(gridElement)">Delete</button>
			</mat-card-footer>
		</mat-card>
	</mat-grid-tile>
</mat-grid-list>
</section>
</ng-container>
</ng-template>

<ng-template #gridPreview>
	<ng-container *ngIf="gridList.length; else emptyPreviewTemplate">
		<div class="page-content">
			<mat-grid-list
			[cols]="breakpoint"
			rowHeight="1:1"
			(window:resize)="onResize($event)"
			class="our-webcoderskull padding-lg"
			>
			<mat-grid-tile *ngFor="let gridElement of gridList">
				<div class="cnt-block">
					<figure>
						<img
						[src]="
						gridElement.url
						? gridElement.url
						: '/assets/img/skeletonAvatar.png'
						"
						class="img-responsive"
						alt="{{ gridElement.title }}"
						/>
					</figure>
					<h3>
						<a>{{ gridElement.title }}</a>
					</h3>
					<p [innerHTML]="gridElement.body"></p>
				</div>
			</mat-grid-tile>
		</mat-grid-list>
	</div>
</ng-container>
</ng-template>

<ng-template #emptyGridEditTemplate>
	<section class="placeholder-container">
		<div class="placeholder-header">
			<h2>The list is empty</h2>
			<h4>
				Click
				<a class="pointer" (click)="addNewElement()">here</a> to add a new element
			</h4>
		</div>
	</section>
</ng-template>

<ng-template #emptyPreviewTemplate>
	<section class="center-wrapper">
		<ng-segment
		[title]="NO_BANNER_TITLE"
		[icon]="NO_BANNER_ICON"
		[actionMessage]="NO_BANNER_MESSAGE"
		[actionLabel]="ACTION_LABEL"
		(actionEvent)="goToEditMode()"
		[cardMode]="false">
	</ng-segment>
</section>
</ng-template>
