.right-aligned {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 2em;
}

.placeholder-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: fit-content;
  animation: none;
  overflow: visible;
  padding: 1em 1em;
  margin: 2em auto;
  min-height: 18rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 2px 25px 0 rgba(34, 36, 38, 0.1);
}

.placeholder-header {
  float: none;
  display: block;
  width: auto;
  height: auto;
  line-height: 1;
  padding: 0;
  margin: 0 auto 0.5rem;
  opacity: 1;
}

mat-card.placeholder {
  background-color: rgba(0, 0, 0, 0.1);
}

.center-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em 0;
}
/* - - - - */
.heading.heading-icon {
  display: block;
}
.padding-lg {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}
.practice-area.padding-lg {
  padding-bottom: 55px;
  padding-top: 55px;
}
.practice-area .inner {
  border: 1px solid #999999;
  text-align: center;
  margin-bottom: 28px;
  padding: 40px 25px;
}

.practice-area .inner h3 {
  color: #3c3c3c;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 10px 0;
}
.practice-area .inner p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.practice-area .inner img {
  display: inline-block;
}

.our-webcoderskull .cnt-block {
  float: left;
  width: 100%;
  background: #fff;
  padding: 10px 20px;
  text-align: center;
  border: 2px solid #d5d5d5;
  margin: 0 0 28px;
  transition: box-shadow 0.15s ease-in-out;
  max-height: 316px;
  overflow-y: auto;
  cursor: pointer;
}
.our-webcoderskull .cnt-block figure {
  width: 148px;
  height: 148px;
  border-radius: 100%;
  display: inline-block;
  margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img {
  width: 148px;
  height: 148px;
  border-radius: 100%;
  object-fit: cover;
}
.our-webcoderskull .cnt-block h3 {
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-transform: uppercase;
}

.our-webcoderskull .cnt-block p {
  color: #2a2a2a;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.grid-card {
  width: 96%;
  max-height: 300px;
  text-align: center;
  overflow-y: auto;
}

.mat-card-image {
  width: 148px;
  height: 148px;
  display: inline-block;
  margin-bottom: 15px;
  object-fit: contain;
}

.mat-card-footer {
  display: block;
  position: sticky;
  bottom: -16px;
  left: auto;
  right: auto;
  background-color: white;
  padding: 0;
}

.container{
  padding: 2em;
  margin-bottom: 2em;
}

.page-content{
  width: 80%;
  margin: 2em auto;
}
