
<ng-container *ngIf="page && dataLoaded; else skeleton">
	<div class="fix-fixed">
		<section>
			<div [ngStyle]="getBanner()" class="jumbotron jumbotron-fluid banner"></div>
			<div class="container">
				<ng-container *ngIf="page.body; else emptyBody">
					<ng-container *ngIf="page.type === 'basic'; else gridPreview">
						<div class="container">
							<div class="row">
								<div [innerHTML]="page.body"></div>
							</div>
						</div>
					</ng-container>
				</ng-container>
			</div>
		</section>
	</div>
</ng-container>

<ng-template #skeleton>
	<div [innerHTML]="pageMock"></div>
</ng-template>

<ng-template #gridPreview>
	<div class="row w-100 m-0">
		<div
		class="col-sm-3 our-webcoderskull"
		*ngFor="let gridElement of page.cards"
		>
		<div class="cnt-block">
			<figure>
				<img
				[src]="
				gridElement.url
				? gridElement.url
				: '/assets/img/skeletonAvatar.png'
				"
				class="img-responsive"
				alt="{{ gridElement.title }}"
				/>
			</figure>
			<h3>
				<a>{{ gridElement.title }}</a>
			</h3>
			<p [innerHTML]="gridElement.body"></p>
		</div>
	</div>
</div>
</ng-template>

<ng-template #emptyBody>
	<div class="row w-100 center-content">
		<div class="card">
			<div class="card-body text-center">
				<h2>Oops.</h2>
				<h2>This page is not quite ready yet... Come back tomorrow.</h2>
				<button mat-button (click)="goHome();">Go back home</button>
			</div>
		</div>
	</div>
</ng-template>
