
<ng-container *ngIf="article && dataLoaded">
	<div class="fix-fixed">
		<section>
			<!-- <section class="c-hero h-default  h-bg--gradient-primary">
				<div class="c-hero__copy-container">
					<div class="c-hero__copy">
						<div class="c-hero__copy-tagline">
							<h1>{{article.title}}</h1>
						</div>
					</div>
				</div>
			</section> -->
			<div class="banner-wrapper">
				<img class="banner" [src]="article.image" alt="Article banner">
			</div>
			<!-- <div [ngStyle]="getBanner()" class="jumbotron jumbotron-fluid banner"></div> -->
			<ng-container *ngIf="article.body; else emptyBody">
				<div class="container">
					<div class="row">
						<div [innerHTML]="article.body"></div>
					</div>
				</div>
			</ng-container>
		</section>
	</div>
</ng-container>

<ng-template #emptyBody>
	<div class="row w-100 center-content">
		<div class="card">
			<div class="card-body text-center">
				<h2>Oops.</h2>
				<h2>This page is not quite ready yet... Come back tomorrow.</h2>
				<button mat-button (click)="goHome();">Go back home</button>
			</div>
		</div>
	</div>
</ng-template>
