.fecha {
	text-transform: uppercase;
	font-size: 14px;
}

.heading.heading-icon {
	display: block;
}

.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.center-content {
	justify-content: center;
	padding: 5em;
}
.our-webcoderskull .cnt-block {
	float: left;
	width: 100%;
	background: #fff;
	padding: 10px 20px;
	text-align: center;
	border: 2px solid #d5d5d5;
	margin: 0 0 28px;
	transition: box-shadow 0.15s ease-in-out;
	max-height: 316px;
	overflow-y: auto;
	cursor: pointer;
}
.our-webcoderskull .cnt-block figure {
	width: 148px;
	height: 148px;
	border-radius: 100%;
	display: inline-block;
	margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img {
	width: 148px;
	height: 148px;
	border-radius: 100%;
	object-fit: cover;
}
.our-webcoderskull .cnt-block h3 {
	color: #2a2a2a;
	font-size: 20px;
	font-weight: 500;
	padding: 6px 0;
	text-transform: uppercase;
}

.our-webcoderskull .cnt-block p {
	color: #2a2a2a;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
}

.banner-wrapper{
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	padding-bottom: 2em;
}
.banner{
	width: auto;
	height: 100%;

}

.jumbotron-fluid {
	padding-right: 0;
	padding-left: 0;
	border-radius: 0;
}

.jumbotron {
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: #e9ecef;
	border-radius: .3rem;
}


@media (min-width: 1200px){
	.container {
		max-width: 1140px;
	}
}
@media (min-width: 992px){
	.container {
		max-width: 960px;
	}
}
@media (min-width: 768px){
	.container {
		max-width: 720px;
	}
}
@media (min-width: 576px){
	.container {
		max-width: 540px;
	}

}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	min-height: calc(100vh - 369px);
}
