<ng-header
title="Banners"
subtitle="Creaate and edit banners"
mainActionLabel="New"
[mobile]="isMobile"
[modalTitle]="modalTitle"
[modalSubTitle]="modalSubTitle"
[modalApiUrl]="modalApiUrl"
[modalForm]="modalForm"
(actionFinished)="handleFinishCreating($event)"
></ng-header>
<ng-container *ngIf="!loading; else loadingTemplate">
  <ng-container *ngIf="banners.length; else noBannerTemplate">
    <section class="banner" *ngFor="let banner of banners">
      <div class="banner-wrapper">
        <div class="banner-actions">
          <div class="banner-actions-icons">
            <mat-icon class="action" (click)="handleEdit(banner)">edit</mat-icon>
            <mat-icon class="action delete" (click)="handleDelete(banner)">delete</mat-icon>
          </div>
        </div>
        <img [src]="banner.image" alt="AppDirect-Info-Sec-Banner">
      </div>
    </section>
  </ng-container>
</ng-container>
<ng-template #loadingTemplate>
  <div class="loading-wrapper">
    <ng-loading></ng-loading>
  </div>
</ng-template>
<ng-template #noBannerTemplate>
  <section class="no-banner-wrapper">
    <ng-segment [icon]="noBannerIcon" [actionMessage]="noBannerMessage"></ng-segment>
  </section>
</ng-template>
