section.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner {
  &-wrapper{
    position: relative;
    height: 300px;
    margin: .5em;
    & > img {
      width:100%;
      height:100%;
      object-fit:contain;

    }
    &:hover{
      transform: translateY(-5px);
      box-shadow: 0 20px 20px -15px rgb(0 0 0 / 30%);
    }


    &:hover .banner-actions{
      display: block;
    }
  }
  &-actions {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    &-icons{
      position: relative;
      display: flex;
      justify-content: space-around;
      top: 45%;
      color: white;
      border-color: black;
      > mat-icon.delete{
        &:hover{  color: red;}
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: -webkit-gradient( linear, left bottom, left top, from(rgba(31, 35, 38, 1)), to(transparent) );
      background-image: linear-gradient(rgba(31, 35, 38, .80),  transparent 100% );
    }
  }

}
