@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(45deg, #7175da, #9790f2);
	font-family: "Muli", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.course {
	border-radius: 10px;
	border: 0.5px solid #fafafa;
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	&:hover {
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	}
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color: #387f4a;
	color: #fff;
	padding: 30px;
	max-width: 250px;
	& a {
		color: #fff;
		display: inline-block;
		font-size: 12px;
		opacity: 0.6;
		margin-top: 30px;
		text-decoration: none;
	}
	&.mobile {
		width: auto;
		max-width: 100%;
	}
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #387f4a;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}
.btn {
	background-color: #387f4a;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	letter-spacing: 1px;
	cursor: pointer;
	&-wrapper {
		position: absolute;
		bottom: 30px;
		right: 30px;
	}
	&.mobile {
		font-size: 12px;
		padding: 6px 12px;
	}
	&.secondary {
		margin-right: 1em;
		background-color: #aa8f00;
	}
}

.mobile-course-card {
	margin: 1em;
	padding: 0;
	& > mat-card-content {
		padding: 1em;
	}
	& > mat-card-actions {
		padding: 1em 1.5em;
	}
}

.isPay {
	background-color: #387f4a !important;
	color: #fff;
}

.buton-actions {
	display: flex;
	justify-content: space-between;
}
