<ng-container *ngIf="!mobile; else mobileTemplate">
	<div class="courses-container">
		<div class="course">
			<div class="course-preview">
				<h6>
					{{ course.isVirtual ? "Modalidad virtual" : "Modalidad presencial" }}
				</h6>
				<h2 class="break">Presentan {{ course.speakers }}</h2>
				{{ parseDate(course.date, course.time) }} - {{ course.time }}hs
			</div>
			<div class="course-info">
				<mat-chip-list>
					<mat-chip>{{ course.subject }}</mat-chip>
					<mat-chip [ngClass]="{ isPay: course.isPay }">{{
						course.isPay ? "Curso pago" : "Curso gratuito"
					}}</mat-chip>
				</mat-chip-list>
				<h2 class="break">{{ course.title }}</h2>
				<ng-container *ngIf="course.showUrl">
					<ng-container *ngIf="course.isVirtual; else addressTemplate">
						<h5>
							URL: <a [href]="course.zoomUrl">{{ course.zoomUrl }}</a>
						</h5>
					</ng-container>
				</ng-container>
				<ng-container *ngIf="course.isPay">
					<h5>Precio: ${{ course.price }}</h5>
					<h5>
						URL de pago:
						<a [href]="course.payUrl" target="_blank">{{ course.payUrl }}</a>
					</h5>
				</ng-container>
				<h6>
					Contacto a
					<a href="mailto:{{ course.contact }}" target="_blank">{{
						course.contact
					}}</a>
				</h6>
				<div class="btn-wrapper">
					<ng-container *ngIf="canEdit">
						<button
							mat-flat-button
							class="btn secondary"
							(click)="onSecondaryClickHandler()"
						>
							Editar
						</button>
					</ng-container>
					<ng-container *ngIf="course.inscripted.length !== 0">
						<button
							mat-flat-button
							class="btn secondary"
							(click)="goToDetails()"
						>
							Ver detalles
						</button>
					</ng-container>
					<ng-container
						*ngIf="course.inscripted.length; else inscriptionButtonTemplate"
					>
						<ng-container
							*ngIf="!canEdit && course.isPay && course.payed === '0'"
						>
							<button
								class="btn primary"
								mat-flat-button
								color="primary"
								(click)="onMainClickHandler()"
							>
								Pagar
							</button>
						</ng-container>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</ng-container>
<ng-template #addressTemplate>
	<h5>
		Dirección:
		<a href="http://maps.google.com/?q={{ course.address }}" target="_blank">{{
			course.address
		}}</a>
	</h5>
</ng-template>
<ng-template #mobileTemplate>
	<mat-card class="mobile-course-card">
		<div class="course-preview mobile">
			<h6>
				{{ course.isVirtual ? "Modalidad virtual" : "Modalidad presencial" }}
			</h6>
			<h2>Presentan {{ course.speakers }}</h2>
			{{ parseDate(course.date, course.time) }} - {{ course.time }}hs
		</div>

		<mat-card-content>
			<mat-chip-list>
				<mat-chip>{{ course.subject }}</mat-chip>
				<mat-chip [ngClass]="{ isPay: course.isPay }">{{
					course.isPay ? "Curso pago" : "Curso gratuito"
				}}</mat-chip>
			</mat-chip-list>
			<h2>{{ course.title }}</h2>
			<ng-container *ngIf="course.showUrl">
				<ng-container *ngIf="course.isVirtual; else addressTemplate">
					<h5>
						URL: <a [href]="course.zoomUrl">{{ course.zoomUrl }}</a>
					</h5>
				</ng-container>
			</ng-container>
			<ng-container *ngIf="course.isPay">
				<h5>Precio: ${{ course.price }}</h5>
			</ng-container>
			<h6>
				Contacto a
				<a href="mailto:{{ course.contact }}" target="_blank">{{
					course.contact
				}}</a>
			</h6>
		</mat-card-content>
		<mat-card-actions align="end" class="buton-actions">
			<ng-container *ngIf="canEdit">
				<button
					class="btn secondary mobile"
					mat-flat-button
					color="primary"
					(click)="onSecondaryClickHandler()"
				>
					Editar
				</button>
			</ng-container>
			<ng-container *ngIf="course.inscripted.length !== 0">
				<button mat-flat-button class="btn secondary mobile" (click)="goToDetails()">
					Ver detalles
				</button>
			</ng-container>
			<ng-container
				*ngIf="course.inscripted.length; else inscriptionButtonTemplate"
			>
				<ng-container *ngIf="!canEdit && course.isPay && course.payed === '0'">
					<button
						class="btn primary mobile"
						mat-flat-button
						color="primary"
						(click)="onMainClickHandler()"
					>
						Pagar
					</button>
				</ng-container>
			</ng-container>
		</mat-card-actions>
	</mat-card>
</ng-template>

<ng-template #inscriptionButtonTemplate>
	<button
		[ngClass]="{ mobile: mobile }"
		class="btn"
		mat-flat-button
		[disabled]="course.inscripted.length !== 0"
		color="primary"
		(click)="onMainClickHandler()"
	>
		{{
			course.inscripted.length !== 0
				? "Ya estas inscripto/a"
				: canEdit
				? "Ver inscriptos"
				: "Ir a inscripcion"
		}}
	</button>
</ng-template>
