<div class="container">
	<h1 id="headline">Tiempo para la capacitación</h1>
	<div id="countdown">
		<ul>
			<li>
				<span id="days">{{ _days }}</span
				>{{ _days > 1 ? "dias" : _days === 1 ? "dia" : "-" }}
			</li>
			<li>
				<span id="hours">{{ _hours }}</span
				>{{ _hours > 1 ? "horas" : _hours === 1 ? "hora" : "-" }}
			</li>
			<li>
				<span id="minutes">{{ _minutes }}</span
				>{{ _minutes > 1 ? "minutos" : _minutes === 1 ? "minuto" : "-" }}
			</li>
			<li>
				<span id="seconds">{{ _seconds }}</span
				>{{ _seconds > 1 ? "segundos" : _seconds === 1 ? "segundo" : "-" }}
			</li>
		</ul>
	</div>
</div>
