

.container {
	color: #333;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-weight: normal;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
}

li {
	display: inline-block;
	font-size: 1.5em;
	list-style-type: none;
	padding: 1em;
	text-transform: uppercase;
}

li span {
	display: block;
	font-size: 4.5rem;
}

.message {
	font-size: 4rem;
	display: none;
	padding: 1rem;
}

@media all and (max-width: 768px) {
	h1 {
		font-size: 1.5rem;
	}

	li {
		font-size: 1.125rem;
		padding: 0.75rem;
	}

	li span {
		font-size: 3.375rem;
	}
}
