

.newsList{
	padding: 5em;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.article-card{
	padding: 5em;
	background-repeat: no-repeat;
	height: 250px;
	min-width: 1050px;
	background-position: center;
	background-size: cover;
}

.article-card::hover{
	box-shadow: 2px solid blue;
}
