
<section class="c-hero h-default  h-bg--gradient-primary">
	<div class="container c-hero__copy-container">
		<div class="c-hero__copy">
			<h4 class="c-hero__copy-subpage">SERVICES</h4>
			<div class="c-hero__copy-tagline">
				<h1>Platform Security</h1>
			</div>
			<p>We go beyond standard security to put rigorous data protection practices at the core of every product we offer, giving you the confidence you need to transform your business.</p>
		</div>
	</div>
</section>

<section class="bannerList">
	<ng-container *ngIf="!loadingBanners; else loadingTemplate">
		<mat-carousel color="accent" [proportion]="15">
			<ng-container *ngFor="let banner of banners; let i = index; trackBy: trackByBanner ">
				<mat-carousel-slide [image]="banner.image">
				</mat-carousel-slide>
			</ng-container>
		</mat-carousel>
	</ng-container>
</section>

<section class="c-logo-parade">
	<div class="container">
		<ul class="c-logo-parade__logo-list" aria-label="List of customer logos">
			<li class="c-logo-parade__logo-list-item">

				<a>
					<img class="js-lazy loaded" data-src="https://dcnxfkgt2gjxz.cloudfront.net/Logos/Customer-Card-Logos-Color/customercards-color-vodafone.svg?mtime=20170424174159&amp;focal=none" alt="Customercards Color Vodafone" src="https://dcnxfkgt2gjxz.cloudfront.net/Logos/Customer-Card-Logos-Color/customercards-color-vodafone.svg?mtime=20170424174159&amp;focal=none" data-was-processed="true">
				</a>
			</li>
			<li class="c-logo-parade__logo-list-item">

				<a>
					<img class="js-lazy loaded" data-src="https://dcnxfkgt2gjxz.cloudfront.net/Logos/Customer-Card-Logos-Color/customercards-color-adp.svg?mtime=20170424171815&amp;focal=none" alt="Customercards Color Adp" src="https://dcnxfkgt2gjxz.cloudfront.net/Logos/Customer-Card-Logos-Color/customercards-color-adp.svg?mtime=20170424171815&amp;focal=none" data-was-processed="true">
				</a>
			</li>
			<li class="c-logo-parade__logo-list-item">

				<a>
					<img class="js-lazy loaded" data-src="https://dcnxfkgt2gjxz.cloudfront.net/Logos/Customer-Card-Logos-Color/customercards-color-deutschetelekom.svg?mtime=20170424171907&amp;focal=none" alt="Customercards Color Deutschetelekom" src="https://dcnxfkgt2gjxz.cloudfront.net/Logos/Customer-Card-Logos-Color/customercards-color-deutschetelekom.svg?mtime=20170424171907&amp;focal=none" data-was-processed="true">
				</a>
			</li>
			<li class="c-logo-parade__logo-list-item">

				<a>
					<img class="js-lazy loaded" data-src="https://dcnxfkgt2gjxz.cloudfront.net/Logos/Customer-Card-Logos-Color/customercards-color-abb.svg?mtime=20180209132509&amp;focal=none" alt="Customercards Color Abb" src="https://dcnxfkgt2gjxz.cloudfront.net/Logos/Customer-Card-Logos-Color/customercards-color-abb.svg?mtime=20180209132509&amp;focal=none" data-was-processed="true">
				</a>
			</li>
			<li class="c-logo-parade__logo-list-item">

				<a>
					<img class="js-lazy loaded" data-src="https://dcnxfkgt2gjxz.cloudfront.net/Logos/Customer-Card-Logos-Color/customercards-color-comcastbusiness.svg?mtime=20170424171856&amp;focal=none" alt="Customercards Color Comcastbusiness" src="https://dcnxfkgt2gjxz.cloudfront.net/Logos/Customer-Card-Logos-Color/customercards-color-comcastbusiness.svg?mtime=20170424171856&amp;focal=none" data-was-processed="true">
				</a>
			</li>
			<li class="c-logo-parade__logo-list-item">

				<a href="https://www.appdirect.com/resources/case-study-keller-williams">
					<img class="js-lazy loaded" data-src="https://dcnxfkgt2gjxz.cloudfront.net/Logos/Customer-Card-Logos-Color/customercards-color_kellerwilliams.svg?mtime=20190109142237&amp;focal=none" alt="Customercards Color Kellerwilliams" src="https://dcnxfkgt2gjxz.cloudfront.net/Logos/Customer-Card-Logos-Color/customercards-color_kellerwilliams.svg?mtime=20190109142237&amp;focal=none" data-was-processed="true">
				</a>
			</li>
		</ul>
	</div>
</section>

<section class="newsList">
	<ng-container *ngFor="let article of news">
		<mat-card (click)="goToNews(article.slug)" class="pointer article-card" matRipple [ngStyle]="{'background-image': 'url(' + article.image+ ')'}">
		</mat-card>
	</ng-container>
</section>

<ng-template #loadingTemplate>
	<div class="loading-wrapper">
		<ng-loading></ng-loading>
	</div>
</ng-template>
