.sidenav-container {
  height: calc(100vh - 64px);
  .mat-sidenav {
    min-width: 180px;
  }
}

.content-wrapper {
  min-height: calc(100vh - 64px);
  &.mobile {
    min-height: calc(100vh - 112px);
		padding-bottom: 56px;
  }
}
.mat-icon{
  color: rgba(0, 0, 0, 0.7);
  &.mobile{
    color: white;
  }
}
mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100vw;
  overflow: scroll;
  height: auto;
  padding: .4em 0em;
  &.mobile{
    position: fixed;
    bottom: 0;
    z-index: 1;
  }
}
.custom-nav-list {
  padding-top: 0px;
}

a.mat-list-item.subnav {
  height: 100%;
  &.active {
    &.primary {
      color: white;
      background-color: #1F2326;
      &:hover {
        background-color: transparentize($color: #1F2326, $amount: 0.15);
      }
      &.dark {
        background-color: gray;
				color: white;
        &:hover {
          background-color: transparentize($color: #133A4E, $amount: 0.15);
        }
      }
    }
    &.secondary {
      color: white;
      background-color: #1F2326;
      &:hover {
        background-color: transparentize($color: #1F2326, $amount: 0.15);
      }

      &.dark {
        background-color: gray;
        &:hover {
          background-color: transparentize($color: #133A4E, $amount: 0.15);
        }
      }
    }
    transition: background-color 0.3s ease-in-out;
  }
}

.sidenavItem{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: .5em;
  &.mobile {
    margin: 0;
  }
}
