<div [class.dark-theme]="isDarkTheme">
  <ad-infosec-topbar></ad-infosec-topbar>
  <mat-sidenav-container>
    <mat-sidenav #confNav [mode]="getMode()" position="end">
      <ad-infosec-settings></ad-infosec-settings>
    </mat-sidenav>
    <mat-sidenav-content>
      <div *ngIf="isMobile" [class.dark-theme]="isDarkTheme">
        <div class="content-wrapper mobile" [class.dark-theme]="isDarkTheme">
          <ng-container *ngTemplateOutlet="content"></ng-container>
        </div>
        <mat-toolbar class="mobile" [color]="themeColor">
          <ng-template
          *ngTemplateOutlet="linkSection; context: { $implicit: 'bottombar' }"
          ></ng-template>
        </mat-toolbar>
      </div>
      <div *ngIf="!isMobile" [class.dark-theme]="isDarkTheme">
        <mat-sidenav-container class="sidenav-container">
          <mat-sidenav #snav [opened]="true" mode="side">
            <mat-nav-list class="custom-nav-list">
              <ng-template
              *ngTemplateOutlet="
              linkSection;
              context: { $implicit: 'sidenav' }
              "
              ></ng-template>
            </mat-nav-list>
          </mat-sidenav>

          <mat-sidenav-content class="content-wrapper">
            <ng-container *ngTemplateOutlet="content"></ng-container>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<ng-template #content><ng-content></ng-content></ng-template>

<ng-template #linkSection let-type>
  <ng-container *ngFor="let section of sections">
    <ng-container *ngFor="let link of section.children">
      <a class="subnav" (click)="navigate(link)" mat-list-item [ngClass]="{ primary: themeColor === 'primary', secondary: themeColor === 'accent', dark: isDarkTheme, active: isActive(link)}">
        <div class="sidenavItem" [ngClass]="{ mobile: isMobile }">
          <ng-container *ngIf="link.icon">
            <button mat-icon-button matTooltip="{{ link.title }}" >
              <mat-icon [ngClass]="{ mobile: isMobile }">{{ link.icon }}</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="type === 'sidenav'">
            <span>{{ link.title }}</span>
          </ng-container>
        </div>
      </a>
    </ng-container>
  </ng-container>
</ng-template>
